:root {
    --purple: #352746;
    --white: #ffffff;
    --grey: #3f3f3f;
}
body {
    margin: 0px;
    background-color: var(--purple);
    color: var(--white);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    font-weight: bold;
    padding-top: 0;
    margin-top: 0;
}

.modal{
    border-radius: 10px;
    width: 250px;
    height: 70px;
}
.container{
    background-color:var(--grey);
    border-radius: 10px;
    width: 500px;
    margin: 1rem auto;
    padding: 1rem;
}
.listcontainer{
    background-color:var(--grey);
    outline: auto;
    width: 500px;
    margin: 0 auto;
}

button {
    border-radius: 10px;
    border: auto;
    padding: 3px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;  
  }

  @media only screen and (max-width: 600px) {
    .background {
      padding: 0.5rem 1rem;
    }
    .container{
        width: 100%;
        padding: 0;
    }
    .listcontainer{
        width: 100%;
    }
    
  }